
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" action="">
    <label>Name</label>
    <input type="text" name="name"/>
    <label>Age</label>
    <input type="text" name="age"/>
    <input type="submit" name="let´s go submit this"/>
</form>